{% if content %}
	<section {{ attributes.addClass(['il-menu-section'])}}>
		<div class="container">
			<div class="il-section-title  aos-anit" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
				{% if content.section_big_title %}
					<h2 {{region_attributes.section_big_title.addClass(['ils-title-big','il-colored'])}}>
						{{content.section_big_title}}
					</h2>
				{% endif %}
				{% if content.section_title %}
					<h3 {{region_attributes.section_title.addClass('ils-title')}}>
						{{content.section_title}}
					</h3>
				{% endif %}
				{% if content.section_desc %}
					<div {{region_attributes.section_desc.addClass('ils-desc')}}>
						{{content.section_desc}}
					</div>
				{% endif %}
			</div>
			{% if content.section_content %}
				{{content.section_content}}
			{% endif %}
		</div>
	</section>
{% endif %}