{% if content %}

{% if content.i_l_menu_image.layout_builder_add_block %}
    {{ content.i_l_menu_image }}
{% endif %}
{% if content.i_l_menu_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.i_l_menu_image|layout_bg_img) %}
{% endif %}
<section {{ attributes.addClass('il-top-img-section') }}>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="text-side">
                    {% if content.i_l_menu_title %}
                    <h1 {{ region_attributes.i_l_menu_title.addClass('il-big-title') }}>
                        {{ content.i_l_menu_title }}
                    </h1>
                    {% endif %}
                    {% if content.i_l_menu_description %}
                    <div {{ region_attributes.i_l_menu_description.addClass('description') }}>
                        {{ content.i_l_menu_description }}
                    </div>
                    {% endif %}
                    <div class="day-desc d-flex">
                        {% if content.i_l_menu_date_text %}
                            {{ content.i_l_menu_date_text }}
                        {% endif %}
                        {% if content.i_l_menu_date %}
                            <span {{ region_attributes.i_l_menu_date.addClass('il-colored') }}>
                                {{ content.i_l_menu_date }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
{% endif %}