{% if content %}
	<pre>
		{{ dump(content.main_gallery[0]) }}
	</pre>
	<div>
		{{ content.main_gallery }}
	</div>
	<div>
		{{content.thumb_gallery}}
	</div>
	<div>
		{{content.attributes}}
	</div>
	<div>
		{{content.properties}}
	</div>
{% endif %}
