{% if content %}
<section {{ attributes.addClass('il-top-img-section ') }}>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="text-side">
                    {% if content.i_l_menu_title %}
                    <h1 {{ region_attributes.i_l_menu_title.addClass('il-big-title') }}>
                        {{ content.i_l_menu_title }}
                    </h1>
                    {% endif %}
                    {% if content.i_l_menu_description %}
                    <div {{ region_attributes.i_l_menu_description.addClass('description') }}>
                        {{ content.i_l_menu_description }}
                    </div>
                    {% endif %}
                    <div class="day-desc">
                        {% if content.i_l_menu_date_text %}
                            {{ content.i_l_menu_date_text }}
                        {% endif %}
                        {% if content.i_l_menu_date %}
                            <span {{ region_attributes.i_l_menu_date.addClass('il-colored') }}>
                                {{ content.i_l_menu_date }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-sm-block">
                {% if content.il_menu_bg.layout_builder_add_block %}
                    {{ content.il_menu_bg }}
                {% endif %}
                {% if content.i_l_menu_image|layout_bg_img %}
                    {% set region_attributes2=content.i_l_menu_image|layout_bg_img %}    
                    <div {{ region_attributes2.i_l_menu_image.addClass('img-side') }}
                        style="background-image: url(https://instant-lunch.store/wp-content/uploads/2022/06/Livraison-plateau-repas-plan-de-travail.png);">
                        <div></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}