{#
/**
 * @file
 * Default commerce price calculated template.
 *
 * Available variables:
 * - calculated_price: The calculated price.
 * - purchasable_entity: The purchasable entity.
 *
 * @ingroup themeable
 */
#}
<div {{content_class}}>
	<span {{symbol_class.addClass('currency') }}>{{- currency_code -}}</span> <span {{price_class.addClass('amount')}}>{{- calculated_price -}}</span> <span {{ duration_class.addClass('duration') }}>{{ duration }}</span>
</div>
