{% if content %}

	<div {{attributes.addclass(['portrait'])}}>
		<div class="wrapper">
			{% if content.image|has_value %}
			<div {{region_attributes.image}}>
				{{content.image}}
			</div>
			{% endif %}

			{% if content.badge|has_value or content.wishlist|has_value %}
				<div class="d-flex justify-content-between">
					{% if content.badge|has_value %}
						<h6 {{region_attributes.badge}}>{{content.badge}}</h6>
					{% endif %}

					{% if content.wishlist|has_value %}
						<div {{region_attributes.wishlist.addClass('icon')}}>
							{{content.wishlist}}
						</div>
					{% endif %}

				</div>
			{% endif %}

			{% if content.title|has_value %}
				<h4 {{region_attributes.wishlist}}>{{ content.title }}</h4>
			{% endif %}

			{% if content.price|has_value %}
				<div{{region_attributes.price}}>{{ content.price }}</div>
			{% endif %}
			{% if content.availability|has_value %}
				<div title="En stock" 	>{{ content.availability }}</div>
			{% endif %}
		</div>
	</div>


{% endif %}
