{% if content %}
	<div {{attributes.addClass(['il-section-title','aos-init','aos-animate']).setAttribute('datas-aos','fade-down').setAttribute('data-aos-duration','600').setAttribute('data-aos-delay','200')}}>
		{% if content.big_title %}
			<h2 {{region_attributes.big_title.addClass(['ils-title-big','il-colored'])}}>
				{{content.big_title}}
			</h2>
		{% endif %}
		{% if content.title %}
			<h3 {{region_attributes.title.addClass('ils-title')}}>
				{{content.title}}
			</h3>
		{% endif %}
		{% if content.desc %}
			<div {{region_attributes.desc.addClass('ils-desc')}}>
				{{content.desc}}
			</div>
		{% endif %}
	</div>
{% endif %}