{% if content %}
	<div {{attributes.addClass('clothing-single-product')}}>
		<div class="bloc-img">
			{% if content.categories|has_value %}
				<div {{ region_attributes.categories.addClass(['badge','categories']) }}>
					{{content.categories}}
				</div>
			{% endif %}
			{% if content.reduction|has_value %}
				<div {{ region_attributes.reduction.addClass(['badge','reduction','badge--reduction']) }}>
					{{content.reduction}}
				</div>
			{% endif %}
			{% if content.images %}
				<div {{ region_attributes.images.addClass('images') }}>
					{% if content.images.layout_builder_add_block %}
						{{ content.images }}
					{% else %}
						<div class="img-1">
							{% set keySearch = {begin:1, number:1} %}
							{{ content.images|layout_value_img(keySearch) }}
						</div>
						<div class="img-2">
							{% set keySearch = {begin:2, number:1} %}
							{{ content.images|layout_value_img(keySearch) }}
						</div>
					{% endif %}
				</div>
			{% endif %}
			<div class="clothing-four-btn">
				{% if content.icon_add_to_cart %}
					<div {{region_attributes.icon_add_to_cart.addClass(['icon_add_to_cart','btn-carre'])}}>
						<div class="bc-tooltip">
							Ajouter au panier
						</div>
						{{ content.icon_add_to_cart }}
					</div>
				{% endif %}
				{% if content.icon_wishlist %}
					<div {{region_attributes.icon_wishlist.addClass(['icon_wishlist','btn-carre','d-none'])}}>
						{{ content.icon_wishlist }}
					</div>
				{% endif %}
				{% if content.icon_compare %}
					<div {{region_attributes.icon_compare.addClass(['icon_compare','btn-carre','d-none'])}}>
						{{ content.icon_compare }}
					</div>
				{% endif %}
				{% if content.icon_quick_wiew %}
					<div {{region_attributes.icon_quick_wiew.addClass(['icon_quick_wiew','btn-carre','d-none'])}}>
						{{ content.icon_quick_wiew }}
					</div>
				{% endif %}
			</div>
		</div>
		{% if content.title %}
			<h4 {{region_attributes.title.addClass(['title','csp-title'])}}>
				{{content.title}}
			</h4>
		{% endif %}
		{% if content.description %}
			<div {{region_attributes.description.addClass(['description','csp-desc'])}}>
				{{content.description}}
			</div>
		{% endif %}
		<div class="price-rating d-flex justify-content-between">
			<div class="d-flex">
				{% if content.price %}
					<div {{region_attributes.price.addClass(['price'])}}>
						{{content.price}}
					</div>
				{% endif %}
				{% if content.old_price %}
					<div {{region_attributes.old_price.addClass(['price','price price--old'])}}>
						{{content.old_price}}
					</div>
				{% endif %}
			</div>
			<div class="rating"></div>
		</div>
	</div>
{% endif %}